<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Display</title>
  </head>
  <body>
    <table>
      <tbody>
        <tr>
          <th>name</th>
          <th>homeworld</th>
          <th>climate</th>
        </tr>
        {% for data in datas %}
        <tr>
          <td>{{ data.0 }}</td>
          <td>{{ data.1 }}</td>
          <td>{{ data.2 }}</td>
        </tr>
        {% endfor %}
      </toby>
    </table>
  </body>
</html>
