{% extends 'ex01/base.html' %} {% load static %} {% block title %}
<title>Ex01: Display process of a static page.</title>
{% endblock title %} {% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}" />
{% endblock style %} {% block content %}
<div class="content">
  <table style="width: 90%">
    <tbody>
      <tr>
        <th>Static Web Page</th>
      </tr>
      <tr>
        <td>1.</td>
        <td>
          In static web pages, Pages will remain same until someone changes it
          manually.
        </td>
      </tr>
      <tr>
        <td>2.</td>
        <td>Static Web Pages are simple in terms of complexity.</td>
      </tr>
      <tr>
        <td>3.</td>
        <td>In static web pages, Information are change rarely.</td>
      </tr>
      <tr>
        <td>4.</td>
        <td>
          Static Web Page takes less time for loading than dynamic web page.
        </td>
      </tr>
      <tr>
        <td>5.</td>
        <td>In Static Web Pages, database is not used.</td>
      </tr>
      <tr>
        <td>6.</td>
        <td>
          Static web pages are written in languages such as: HTML, JavaScript,
          CSS, etc.
        </td>
      </tr>
      <tr>
        <td>7.</td>
        <td>Static web pages does not contain any application program .</td>
      </tr>
      <tr>
        <td>8.</td>
        <td>Static web pages require less work and cost in designing them.</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock content %}
