<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Display</title>
  </head>
  <body>
    <table>
      <tbody>
        <tr>
          <th>title</th>
          <th>episode_nb</th>
          <th>opening_crawl</th>
          <th>director</th>
          <th>producer</th>
          <th>release_date</th>
        </tr>
        {% for movie in movies %}
        <tr>
          <td>{{ movie.title }}</td>
          <td>{{ movie.episode_nb }}</td>
          <td>{{ movie.opening_crawl }}</td>
          <td>{{ movie.director }}</td>
          <td>{{ movie.producer }}</td>
          <td>{{ movie.release_date }}</td>
        </tr>
        {% endfor %}
      </toby>
    </table>
  </body>
</html>
