{% load static %} {% load bootstrap3 %}
<hr />
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav navbar-right">
        <li >
            <a href="{% url 'index' %}">
                <span style="margin-left:-22px; font-size:20px" class="glyphicon glyphicon-book " aria-hidden="true"></span><span class="sr-only">(current)</span></a>
        </li>
        {% if last_article %}
        <li>
          <a href="{% url 'articles_detail' last_article.id %}"
            >Last Articles</a
          >
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li><a href="{% url 'favourite' %}">Favourite</a></li>
        <li><a href="{% url 'publish' %}">Publish</a></li>
        <li><a href="{% url 'publications' %}">Publications</a></li>
        {% else %}
        <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li >
          <a href="#">Logged as {{request.user.username}}<span class="sr-only"></span></a>
        </li>
        <li >
          <a href="{% url 'logout' %}">Logout<span class="sr-only"></span></a>
        </li>
        {% else %}
        <li>
          <form id="login_form" action="{% url 'login' %}" class="navbar-form navbar-left" method="POST">
            {% csrf_token %}
            {% bootstrap_form login_form %}
            {% buttons %}
            <button type="submit" class="btn btn-default">Login</button>
            {% endbuttons %}
          </form>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
