{% load static %} {% load bootstrap3 %}

<nav class="navbar navbar-default">
  <div class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'index' %}">Life Pro Tips</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">Link</a></li>
        </ul>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" />
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {% if request.session.anonymous %}
              Hello {{ request.session.anonymous }}!
              {% else %}
              Hello {{ request.session.user.id }}!
              {% endif %}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              {% if request.session.anonymous %}
              <li><a href="{% url 'register' %}">Register</a></li>
              <li><a href="{% url 'login' %}">Login</a></li>
              {% else %}
              <li><a href="#">None</a></li>
              {% endif %}
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </div>
</nav>
